.btn_send{
    background-color: $color-primary-2;
    border-radius: 3px;
    color: #fff;
    font-family: "Novecento Narrow DemiBold";
    font-size: 2rem;
    font-weight: 500;
   
    padding: .6rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
    width: 40%;
    border:none;
}