.form_contact {
    padding:1rem;
   .form_group{
        display:flex;
        input,textarea,select{
            width:100%;
            padding:.5rem 0 .5rem 0;
            border:none;
            background-color: transparent;
            font-family: "Helvetica CE 55 Roman";
            color:#000;
            margin-top: 1rem;
            border-bottom: 2px solid #000;
            &:focus{
                outline:none;
            }
            &::placeholder{
                color:#000;
            }
        }
        textarea{
            height:200px;
            resize:none;
        }
   }
}

.from_subscribe {
    display: flex;
    flex-direction: column;
    .form_group {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;

        & input[type="text"] {
            width: 100%;
            padding: 1rem;
            border: none;
            font-size: 1.2rem;

            &:focus {
                outline: none;
            }
            &::placeholder{
                color:#000;
            }
        }

        & label {
            font-family: "Helvetica CE 55 Roman";
            font-size: .9rem;
        }

        & input[type="submit"] {
            width: 100%;
            color: #FFF;
            border: none;
            background-color: #5D5C64;
            font-size: 1.2rem;
            width: 4rem;
            cursor: pointer;
            font-family: "Helvetica CE 55 Roman";
            font-size: 1.2rem;

            &:focus {
                outline: none;
            }
        }
    }
}