@font-face {font-family: "Helvetica CE 55 Roman"; 
    src: url("../fonts/HelveticaNeueCE-Roman.eot"); 
    src: url("../fonts/HelveticaNeueCE-Roman.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/HelveticaNeueCE-Roman.woff2") format("woff2"), 
    url("../fonts/HelveticaNeueCE-Roman.woff") format("woff"), 
    url("../fonts/HelveticaNeueCE-Roman.ttf") format("truetype");
}

@font-face {font-family: "Novecento Cond Medium"; src: url("//db.onlinewebfonts.com/t/fa979d504facc5c80ca262a3b02c1d9a.eot"); src: url("//db.onlinewebfonts.com/t/fa979d504facc5c80ca262a3b02c1d9a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fa979d504facc5c80ca262a3b02c1d9a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/fa979d504facc5c80ca262a3b02c1d9a.woff") format("woff"), url("//db.onlinewebfonts.com/t/fa979d504facc5c80ca262a3b02c1d9a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/fa979d504facc5c80ca262a3b02c1d9a.svg#Novecento Cond Medium") format("svg"); }

@font-face {font-family: "Novecento Narrow DemiBold"; src: url("//db.onlinewebfonts.com/t/7e12732dd8f56c0851d07bdde0f7eb23.eot"); src: url("//db.onlinewebfonts.com/t/7e12732dd8f56c0851d07bdde0f7eb23.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7e12732dd8f56c0851d07bdde0f7eb23.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7e12732dd8f56c0851d07bdde0f7eb23.woff") format("woff"), url("//db.onlinewebfonts.com/t/7e12732dd8f56c0851d07bdde0f7eb23.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7e12732dd8f56c0851d07bdde0f7eb23.svg#Novecento Narrow DemiBold") format("svg"); }
