.contact{

    &__content{
        display:flex;
        justify-content: center;
        align-items: center;
        width:80%;
        margin-left: 10%;
        padding:2rem;
    }
    
    &__info{
        width:30%;

    }
    &__title{
        font-family: "Novecento Cond Medium";
        font-size:2rem;
        margin-bottom:1rem;
        text-align: center;
        & hr {
            width:120px;
            margin-top: 0;
            padding:0;
            border:2px solid #000;
        }

        
    }
    &__subtitle{
        font-family: "Novecento Cond Medium";
        font-size:1.8rem;
        margin-bottom:1rem;
        
    }
    &_items_info li {
        font-family: "Helvetica CE 55 Roman";
        margin-bottom:.8rem;
    }
    &_items_info li a{
        color: #000;
        text-decoration: none;
    }	
    &__form{
        width:70%;
        background-color: #F5F5F5;
        .submit{
            margin-top: 1em;
            width: calc(100% + 2rem);
            background-color: #FFF;
            margin-left: -1rem;
            margin-right: -1rem;
            margin-bottom: -1rem;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
}
$small: 900px;
//some CSS
@media screen and (max-width: $small) {
    .contact{

        &__content{
            display:flex;
            flex-direction: column;
            padding:0;
            width:90%;
            margin-left: 5%;
        }
        &__info{
            width:100%;
        }
        &__form{
            width:100%;
        }
    }
  
}
