.footer {
    & li a{
        color: #fff;
        text-decoration: none;
        &:hover{
            color: $color-secondary-1;
            text-decoration: none;
        }
    }
    padding-top: 2rem;
    width: 100%;
    background-color: $color-primary-1;
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: top center ;
    text-align: center;
    color: white;
    &__item {
        padding:1rem 0 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        & div {
            width: 250px;
            padding:1rem;
        }
    }
    &__logo{
        & h6{
            font-family: "Novecento Narrow DemiBold";
            transform: uppercase;
            margin-top:0.5rem;
        }
        & h1{
            font-family: "Novecento Narrow DemiBold";
            font-size:2.9rem;
            margin-top:0.1rem;
            color: #FFE1D4;
        }
        & p{
            font-family: "Novecento Narrow DemiBold";
            font-size:0.9rem;
            margin-top:0.1rem;
        }
    }
    &__info{
        border-left: 2px  dashed white;
        border-right: 2px  dashed white;
        & ul{
            display: flex;
            flex-direction: column;
            & li{
                text-align: left;
                margin:5px;
                font-family: "Helvetica CE 55 Roman" !important;
                font-size: 1rem;
            }
        }
    }
    &__help{
        & h1{
            font-size: 1.2rem;
            margin:0;
            text-align: left;
            font-family: "Novecento Cond Medium";
            padding-bottom:.7rem;
        }
        & ul{
            display: flex;
            flex-direction: column;
            & li{
                text-align: left;
                margin:5px;
                font-family: "Helvetica CE 55 Roman" ;
                font-size: 1rem;
            }
        }
    }
    &__copyright{
       width:100% !important;
       font-family: "Helvetica CE 55 Roman" ;
    }
}
$small: 750px;
//some CSS
@media screen and (max-width: $small) {
  .footer {
    &__item {
      flex-direction: column;
    }
    &__info{
        border-left: none;
        border-right: none;
        border-top: 2px  dashed white;
        border-bottom: 2px  dashed white;
    }
  }
}