

.header{
  
    background-size: cover;
    background-attachment: absolute;
    background-position:  0 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25rem;
   
    &__opacity{
        padding-top: 2rem;
        background-color: rgba(0,0,0,0.8);
        padding-bottom: 2rem;
        width: 100%;
    }
    &__logo{
        display:flex;
        align-items:center;
        justify-content:center;
    }

  
    &__main{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction: row;
        margin: 1.5rem 0 1rem 0;
        & li{
           padding: 0 .5rem 0 .5rem;
        }
        & a{
           
            color: #FFF;
            text-decoration: none;
            font-family: "Novecento Narrow DemiBold";
            transition: all 0.5s ease-in-out;
            &:hover{
                color: #fff;
            }
            &:after {
                display:block;
                margin-top: 5px;
                content: '';
                border-bottom: solid 2px #FFF;  
                transform: scaleX(0);  
                transition: transform 250ms ease-in-out;
              }
              &:hover:after { transform: scaleX(1); }
              
        }
        
        
    }
    &__title_box{
        font-family: "Novecento Narrow DemiBold";
        font-size: 4.5rem;
        color: #FFF;
        padding:20px 80px 20px 80px;
        border: 2px solid #FFF;
        -webkit-text-stroke: 1px #d5d5d5d2;
        display:relative;
        margin-top:10rem;
        text-shadow: 2px 3px 8px #d5d5d5ef;
    }
    &__redes{
        position: absolute;
        right: 0;
        top:40%;
        background-color: rgba(0,0,0,0.5);
        padding: 0 10px 0 10px;
        & ul li{
            padding:10px
        }
        & ul li:nth-child(2){
            border-bottom: 1px solid #FFF;
            border-top: 1px solid #FFF;
        }
    }
    

}
.actions, 
.fa-bars, 
.fa-xmark {
        display: none;
}

$small: 800px;
//some CSS
@media screen and (max-width: $small) {
    .actions, 
    .fa-bars, 
    .fa-xmark {
        display: block;
        position: absolute;
        box-sizing: border-box;
        margin: 10px 10px 0 0;
        padding: 0;
        right: 0;
        top: 0;
        width: 48px;
        height: 48px;
        color:#FFF;
        transition: all 0.5s ease-out;
    }
    .fa-bars, 
    .fa-xmark {
        font-size: 48px;
    pointer-events: none;
    cursor: pointer;
    }
    .actions {
    opacity: 0;
    cursor: pointer;
    }
    .actions:not(:checked) ~ .fa-xmark {
        display: none;
    }
    .actions:checked ~ .fa-bars {
        display: none;
    }
    .actions:checked ~ .header__main {
        animation: open ease 1.5s;
    }
    .actions:not(:checked) ~ .header__main {

        opacity:0;
        height:0;
        transform: scaleX(0);
    }
    @keyframes open {
        from {
          opacity: 0;
          transform:translate3d(100%,0,0); 
        }
        to {
          opacity: 1;
   
          height: 100%;
          transform:translate3d(0,0,0); 
        }
    }

    .header{
        &__main{
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction: column;
            transform: scaleX(1);
        
            & li{
                width:100%;
                margin-top: .6rem;
            }
            
        }
        &__redes{
            position:relative;
            top:10px;
            right: calc(-50% + 33px);
        }
    }
}
@media screen and (max-width: 650px) {
    .header{
        &__title_box{
            font-family: "Novecento Narrow DemiBold";
            font-size: 2.5rem;
            padding:10px 20px 10px 20px;
        }
        
    }
}