.maps{
    width: 80%;
    margin-left:10%;
    font-family: "Novecento Cond Medium";
    font-size: 2rem;
    margin-top:2rem;
    & hr{
        width:60px;
        padding: 0;
        margin: 0;
        border: 2px solid #000;
    }
    & iframe{
        margin-top: 2rem;
        margin-bottom:2rem;
    }
}
$small: 900px;
//some CSS
@media screen and (max-width: $small) {
    .maps{
        width: 90%;
        margin-left:5%;
        
    }
}