.subscribe{
    background-color:#EFEFEF;
    padding:3rem 2rem 3rem 2rem;
    display:flex;
    flex-direction:column;
    &__title{
        font-size:2.5rem;
        font-weight:600;
        margin-bottom:1rem;
        font-family: "Novecento Cond Medium";
        text-align: left;
        & hr{
            width:60px;
            padding: 0;
            margin: 0;
            border: 2px solid #000;
        }
    }
    &__item{
        width:80%;
        margin-left: 10%;
        display: flex;
        justify-content: center;
        align-items: top;
        margin-top: 3rem;
        
        
    }
        &__description{
            width:60%;
            padding:0 1rem 2rem 0;
            font-family: "Helvetica CE 55 Roman";
            font-size:1.2rem;
        }
        &__form{
            width:40%;
        }

}
$small: 1080px;
//some CSS
@media screen and (max-width: $small) {
    .subscribe{
        background-color:#EFEFEF;
        padding:3rem 2rem 3rem 2rem;
        display:flex;
        &__item{
            width:100%;
            margin-left: 0;
            display: flex;
            flex-direction: column;
        }
            &__description{
                width:100%;
                padding:0;
                
            }
            &__form{
                width:100%;
                padding:0;
                margin-top: 1rem;
            }
    }
}